service: farasense-api

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  region: us-east-1
  runtime: nodejs8.10
  environment:
    CURRENT_SENSOR_TABLE: farasenseDb
    CURRENT_SENSOR_TABLE_MIN: farasenseDb_min
    CURRENT_SENSOR_TABLE_HOUR: farasenseDb_hour
    CURRENT_SENSOR_TABLE_DAY: farasenseDb_day
    CURRENT_SENSOR_TABLE_BATTERY: farasenseDb_battery
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.CURRENT_SENSOR_TABLE}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.CURRENT_SENSOR_TABLE_MIN}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.CURRENT_SENSOR_TABLE_HOUR}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.CURRENT_SENSOR_TABLE_DAY}"
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.CURRENT_SENSOR_TABLE_BATTERY}"      

functions:
  create:
    handler: create.create
    events:
      - http:
          path: current_sensor
          method: post
          cors: true

  status:
    handler: status.create
    events:
      - http:
          path: current_sensor/battery
          method: post
          cors: true

  get:
    handler: get.get
    events:
      - http:
          path: current_sensor/{id}/{start}/{end}
          method: get
          cors: true

  transform:
    handler: transform.transformMinToHour
    events:
      - schedule:
          rate: cron(0 * * * ? *)
          timezone: America/Sao_Paulo

  compact:
    handler: compact.compactHourToDay
    events:
      - schedule:
          rate: cron(0 0 * * ? *)
          timezone: America/Sao_Paulo

